<h1><%=@title%></h1>
<%= image("engagementdiagram.jpg", "diagram of sustainability engagement", "" ) %>
<p>We are trying to make good decisions easier. Bringing together people, and organizations that are striving to conduct their affairs sustainably will make it easier for individuals to do the right thing and for organizations to embrace sustainability and humanitarianism. These relationships between people and organizations can provide real value to everyone involved.</p>

<p><b>Why we exist:</b></p>

<p>We think that two fundamental issues cripple current sustainability initiatives:</p>
<p><ol>
<li>markets and economies are not structured to account for the environmental and human wellbeing.</li>
<li>our minds are structured in such a way that makes sustainability difficult.</li>
</ol></p>

<p>Our company is tackling these two issues by helping forge substantive connections between people and institutions, while supporting businesses that are attempting to pursue the three P’s: people, planet, and profit.</p>

<p><b><a name="institutions"></a>For institutions:</b></p>
<p>With our platform you can better engage members of your institution with your sustainability initiatives. Currently, we are thinking that schools would best be able to use this, but we could be wrong. The incentive structure we are setting up and the ease of use of the platform can help get students, faculty, and staff more involved in sustainability in tangible and intangible ways. We recognize that for campuses, sustainability might seem best tackled from a facilities and structural standpoint, but we believe that strengthening the presence of sustainability within the community can realign the entire institution’s focus to include sustainability in all operations, including facility changes that require a high upfront costs and full administrative support. In schools particularly, we like to think that as the community mentality goes, so goes the school—future building design, budget appropriations, and all.</p>
<h3>Our Hypotheses about what the issue is and what our service can do</h3>
<p>these are what we think to be the case but we want to know for sure what problem points people actually face and what a solution would look like, so we'd be happy to talk with you about what you think. <a href="/contact">contact us</a>. Also, here's my cell: 805-259-7624</p>
<%= image("problempresentation.jpg", "problem presentation", "" ) %>
<p>Again, don't hesitate to <a href="/contact">contact us</a>.</p>


<p><b>For organizations:</b></p>
<p>These connections can increase engagement with your brand and also help you achieve goals beyond the bottom-line. We recognize that the life force of any organization is the drive to sustain healthy operations whether that means maintaining profitability if you are a for-profit company, or solvency and efficacy if you are an NGO, or the ability to educate students if you are a learning institution, for example. As humanity chugs away into the 21st century we believe that all organizations should begin to incorporate the idea of the “triple-bottom line” into their missions. These means taking into account profit, planet, and people. It’s possible for any organization, from accounting firms to the lovely DMV, to incorporate this into their structure, and we can help.</p>

<p><b>For individuals:</b></p>
<p>We want to be real about sustainability. We don’t think environmentalism and sustainability should even remotely hint at reverting humanity back to stone-age like living conditions. The cat is out of the bag on that one, at least for now. We also recognize that acting sustainable can be a pain. For example, taking shorter showers sort of sucks. Recycling can be annoying because you never know what plastics are recyclable and which aren’t. Driving less might be a bother, or it might actually be impossible because you have to commute to work, or live out in the middle of nowhere. And the biggest pain is that it seems most environmental and societal damage is being done by big companies that we have no control over, or are dependent on. I know that Nike underpays its workers, ships its products halfway around the world to get them to me, and generally does a lot of bad things, but to be honest, it’s a huge hassle for me to search around looking for alternative products, and then when I find one it isn’t exactly what I want because it looks like a burlap sack, or is made from seaweed or something, and then to top it off it is oftentimes more expensive. We are trying to make this process easier by linking you with good companies and organizations, and hooking you up with real deals. Whether we call them incentives, rewards, or whatever, the fact remains that you can get real benefits for engaging with goodwrks.</p>

