<h1><%=@title%></h1>
<p><b>Brian Joseff</b><br />
cell: 805-259-7624<br />
<a href="http://scr.im/yalla">My email (it will redirect to a simple humanity checker then send you to my email)</a><br />
available most hours of the day PST</p>
