<h1>goodwrks</h1>
<p>making actions count by uniting people and organizations</p>
<table class="diagram">
	<tr>
		<td>
		<%= link_to image("institutions.gif", "institutions' info", "components"), about_path%>
		</td>
		<td>
		<%= link_to image("people.gif", "people's info", "components"), about_path %>
		</td>
		<td>
		<%= link_to image("3pmerchants.gif", "merchants' info", "components"), about_path%>
		</td>
	</tr>
</table>