<header>
	<% logo = image_tag("logo.png", :alt => "Goodwrks", :class => "slightly_round") %>
	<%= link_to logo, root_path %>
	<nav class = "slightly_round">
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
		</ul>
	</nav>
</header>